{% extends 'base.html' %}

{% block title %}Dashboard - CoinDCX Future Position Dashboard{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Welcome, {{ username }}</h1>
        {#    Futures Account Info    #}
        <div class="card mt-3 w-100">
            <div class="card-body">
                <h5 class="card-title">Futures Account Information</h5>
                <p class="card-text text-muted" style="font-size: 0.875rem;">
                    * This section displays the total position size and profit/loss information.
                </p>
                <div class="mt-3">
                    <h4>
                        Total Position Size: <span id="total-position-size">0</span> USDT
                         (Total Leverage: <span id="total-leverage">0</span>  X)
                    </h4>
                    <h4>Total Invested: <span id="total-investment">0</span> USDT</h4>
                    <h4>Total PnL: <span id="total-profit-loss">0</span> USDT</h4>
                    <h4>Current Balance: <span id="current-balance">0</span> USDT</h4>
                </div>
            </div>
        </div>
        <hr/>
        <button id="refresh-button" class="btn btn-primary mt-3">Refresh</button>
        <div class="btn-group mt-3" role="group" aria-label="Sort buttons">
            <button id="sort-pnl-asc" class="btn btn-secondary">Sort by PnL Asc</button>
            <button id="sort-pnl-desc" class="btn btn-secondary">Sort by PnL Desc</button>
            <button id="sort-size-asc" class="btn btn-secondary">Sort by Position Size Asc</button>
            <button id="sort-size-desc" class="btn btn-secondary">Sort by Position Size Desc</button>
            <button id="sort-roe-asc" class="btn btn-secondary">Sort by ROE Asc</button>
            <button id="sort-roe-desc" class="btn btn-secondary">Sort by ROE Desc</button>
        </div>
        <div id="positions-container" class="mt-3"></div>
    </div>
    <script src="{% static 'positions/app.js' %}"></script>
{% endblock %}
